In [6]:
import numpy as np
import pandas as pd

In [7]:
# Index levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1 -0.271738  0.540476
   2 -0.732426  1.016051
   3 -0.811414 -1.463967
G2 1  0.647030  1.690787
   2  0.665193 -0.784287
   3  0.882817 -0.699496

In [16]:
df.index.names = ['Groups','Num']

In [18]:
df

                   A         B
Groups Num
G1     1   -0.271738  0.540476
       2   -0.732426  1.016051
       3   -0.811414 -1.463967
G2     1    0.647030  1.690787
       2    0.665193 -0.784287
       3    0.882817 -0.699496

In [23]:
df.loc['G1'].loc[3]['B']

-1.463966500697222

In [24]:
df

                   A         B
Groups Num
G1     1   -0.271738  0.540476
       2   -0.732426  1.016051
       3   -0.811414 -1.463967
G2     1    0.647030  1.690787
       2    0.665193 -0.784287
       3    0.882817 -0.699496

In [26]:
df.xs(1,level='Num') #cross section method

               A         B
Groups
G1     -0.271738  0.540476
G2      0.647030  1.690787